header {
  font-size: 18pt;
  font-family: 'Playfair Display', serif;
}

#logo img {
  float: left;
  height: 10%;
  width: 10%;
  display: inline;
  flex: 1;
}

header .name {
  text-align: center;
  width: 80%;
  display: inline-block;
  flex-grow: 8;
}

header .navbutton {
  text-align: right;
  flex: 1;
}

element.style {
  display: none;
}

nav ul {
  list-style: none;
  padding: 0%;
  right: 0%;
  position: absolute;
  display: none;
  font-size: 13pt;
  text-align: right;
  margin: 0%;
}

nav:hover ul {
  display: block;
}

p {
  font-size: 10pt;
  font-family: 'Assistant', sans-serif;
  flex-wrap: wrap;
  margin-top: 5%;
}

.main-imgs {
  height: 5%;
  width: auto;
  display: flex;

}

.main-imgs img {
  height: 20%;
  width: 20%;
  margin: 7% 0% 7% 3%;
}

main{
min: 200px;
border: 1px solid black;
}


section {


}



footer {
  text-align: center;
  /*background-image: url("/img/footer.jpg");*/
}

footer .copy {
  text-align: center;
}

footer .socialmedia {
  text-align: center;
}

footer .contact {
  text-align: center;
}


/*#footer-container {
  height:10%;
  width: 100%;
  margin-top: -80%;
  background-color: red;
}

#footer-img {
  margin-top: 0%;
  transform: rotate(90deg);

}
*/


@media screen and (min-width: 900px) {



  footer {
    display: flex;
    }
    .contact, .socialmedia,.copy {
      flex: 1;
    }
    .copy {
      text-align: left;
    }
    .contact {
      text-align: right;
    }
}
