header {
  font-size: 18pt;
  font-family: 'Playfair Display', serif;
}

#logo img {
  float: left;
  height: 10%;
  width: 10%;
  display: inline;
  flex: 1;
}

header .name {
  text-align: center;
  width: 80%;
  display: inline-block;
  flex-grow: 8;
}

header .navbutton {
  text-align: right;
  float: right;
  flex: 1;
}

nav {
  list-style: none;
  font-size: 13pt;
  flex-direction: row;
  display: flex;
  text-align: right;
  margin-left: 80%;
}

p {
  font-size: 10pt;
  font-family: 'Assistant', sans-serif;
  flex-wrap: wrap;
  margin-top: 5%;
}

.main-imgs {
  height: 5%;
  width: auto;
  display: flex;

}

.main-imgs img {
  height: 20%;
  width: 20%;
  margin: 7% 0% 7% 3%;
}






@media screen and (min-width: 900px) {



  footer {
    display: flex;
    }
    .contact, .socialmedia,.copy {
      flex: 1;
    }
    .copy {
      text-align: left;
    }
    .contact {
      text-align: right;
    }
}
