* {
  font-size: 18pt;
}

#logo img {
  float: left;
  height: 10%;
  width: 10%;
  display: inline;
  flex: 1;
}

header .name {
  text-align: center;
  width: 80%;
  display: inline-block;
  flex-grow: 8;
}

header .navbutton {
  text-align: right;
  float: right;
  flex: 1;
}
